body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

/* Header styles */
header {
    background-color: #FFC0CB;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Main content styles */
main {
    padding: 20px;
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
}

/* Footer styles */
footer {
    background-color: #FFC0CB;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}